*{
    box-sizing: border-box;
    margin: 0px;
    transition: all 0.3s linear;
}
body{
    background-image: url("https://img.pikbest.com/back_our/bg/20200903/bg/4944fbfc77bca_397993.jpg!w700wp");
    background-size: cover;
    background-repeat: no-repeat;

}
h1 {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    font-size: 300%;
    overflow-x: hidden;
    text-shadow: 0px 0px 13px rgba(0, 255, 255, 1);
    position: relative;
    top: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    color: rgb(227, 45, 45);
    overflow-x: hidden;
        position: relative;
    top: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


form{
    height: 100vh;
    width: 300px;
    margin-left: 40%;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formbox{
    text-shadow: 1px 1px grey;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    border: 1px solid black;
    box-shadow: 0px 0px 4px 4px rgb(0, 255, 255);
    border-radius: 50px;
    padding: 50px;
    flex-direction:column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    
}


.formbox > .form-details{
    margin: 10px;
    font-size: x-large;
}

.Submit-button{
    background-color: rgb(9, 14, 9);
    color: white;
    align-self: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    scale: 1.4;
}
.Submit-button:hover{
    scale: 1.7;
}
.Update{
    background-color: rgb(7, 7, 7);
    border-color: aqua;
    color: white;
    align-self: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    scale: 1.4;
}



/* TO Display Details */
.display{
    
    margin-right: 30%;
    margin-left: auto;
    position: relative;
    left:250px;
}

label{
    font-size: x-large;
    text-shadow: 0px 0px 1px rgba(0, 255, 255, 1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text-box{
    margin-top: 7px;
    height: 30px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.displaytable{
    width: 550px;
    height: 500px;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    border: 1px solid black;
    box-shadow: 0px 0px 3px 3px rgb(0, 255, 255);
    border-radius: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px); 
    overflow-y: scroll; 
       
}

/* Just to hide scroll bar to look good */
.displaytable::-webkit-scrollbar {
    display: none;
}

table , tr , td ,th{
    border: 1px solid white;
    font-style: bold;

  }
th {
    padding: 10px;
}



.Editbutton , .Deletebutton{
    width: 95%;
    margin: 1px;
    border-color: transparent;
    border-radius: 10px;
}
.Editbutton{
    background-color: rgba(10, 206, 23, 0.8);
}
.Deletebutton{
    background-color: rgba(255, 2, 2,0.5);
}
.Editbutton:active , .Deletebutton:active{
    background-color: white;
}
.Editbutton:hover ,.Deletebutton:hover{
    scale: 1.1;
}
